<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hyperledger Fabric Tuna Application</title>
    <link rel="icon" href="favicon.png" type="image/gif" />

    <!-- require jquery and bootstrap scripts -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <!-- adding style here -->
    <style type="text/css">
      header {
        background-color: lightgray;
        font-size: 20px;
        padding: 15px;
      }
      header,
      .form-group {
        margin-bottom: 3%;
      }
      .form-group {
        width: 50%;
      }
      #body {
        width: 70%;

        margin-left: 10%;
        margin-right: 3%;
      }
      .foot {
        margin: 8px;
      }
      .form-control {
        margin: 8px;
      }
      #right_header {
        width: 20%;
        font-size: 15px;
        margin-right: 0px;
      }
      #left_header {
        margin-left: 0;
        width: 40%;
        display: inline-block;
      }
      .slide-up {
        bottom: 0px !important;
      }

      .slide-down {
        bottom: -475px !important;
      }
      #id {
        width: 49%;
        display: inline-block;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body ng-app="application" ng-controller="appController">
    <header>
      <div id="left_header">Ticketing</div>
      <i id="right_header"></i>
    </header>

    <div id="body">
      <div class="form-group">
        <h2>Show all events</h2>

        <p>
          <input
            id="getAllEvent"
            type="submit"
            value="Query"
            class="btn btn-primary foot"
            ng-click="getAllEvent()"
          />
        </p>
      </div>

      <table id="all_event" class="table" align="center">
        <tr>
          <th>ID</th>
          <th>Event Name</th>
          <th>Issuer</th>
          <th>Price</th>
          <th>Total</th>
          <th>Sold</th>
        </tr>

        <tr ng-repeat="event in all_event">
          <td>{{event.id}}</td>
          <td>{{event.eventName}}</td>
          <td>{{event.issuer}}</td>
          <td>{{event.price}}</td>
          <td>{{event.total}}</td>
          <td>{{event.sold}}</td>
        </tr>
      </table>
      <br />
      <br />
      <hr style="height:1px ;border-width:0;color:gray;background-color:gray">
      <br />
      <div class="form-group">
        <h2>Show all Ticket Information</h2>
        Please enter eventId:
        <input
          id="callEvent"
          class="form-control"
          type="text"
          placeholder="Ex: 3"
          ng-model="event_id"
        />
        <p>
          <input
            id="getAllTicket"
            type="submit"
            value="Query"
            class="btn btn-primary"
            ng-click="getAllTicket()"
          />
        </p>
      </div>

      <table id="all_ticket" class="table" align="center">
        <tr>
          <th>ID</th>
          <th>Current Owner</th>
          <th>Check-out Status</th>
          <th>Status</th>
          <th>log time</th>
          <th></th>
        </tr>

        <tr ng-repeat="ticket in all_ticket">
          <td>{{ticket.ticketId}}</td>
          <td>{{ticket.currentOwner}}</td>
          <td>{{ticket.isRedeemed}}</td>
          <td>{{ticket.onSell}}</td>
          <td>{{ticket.timeStamp}}</td>
          <td>
            <p>
              <input
                id="buyTicket"
                type="submit"
                value="Buy Ticket"
                class="btn btn-primary foot"
                ng-click="buyTicket()"
              />
            </p>
          </td>
        </tr>
      </table>
      <br />
      <br />
      <hr style="height:1px ;border-width:0;color:gray;background-color:gray">
      <br />
      <div class="form-group">
        <h2>Buy Ticket From Supplier</h2><br />
        <h5 style="color: green; margin-bottom: 2%;" id="success_holder">
          Success! Tx ID: {{change_holder}}
        </h5>
        <h5 style="color: red; margin-bottom: 2%;" id="error_holder">
          Error: Please enter a valid EVENT Id
        </h5>
        Enter event id: 
        <input
          id = "ticketID"
          class="form-control"
          name="assetSelect"
          placeholder="Ex: 1"
          ng-model="holder.id"
        />
        Enter holder:
        <input
          class="form-control"
          name="assetSelect"
          placeholder="Ex: Barry"
          ng-model="holder.name"
        />
      
        <input
          id="transferSubmit"
          type="submit"
          value="Change"
          class="btn btn-primary"
          ng-click="buyTicketFromSupplier()"
        />
        
      </div>
      <br />
      <br />
      <hr style="height:1px ;border-width:0;color:gray;background-color:gray">
      <br />
      <div class="form-group">
        <h2>Query a Specific Ticket</h2>
        <br />
        <h5 style="color: red; margin-bottom: 2%;" id="error_query">
          Error: Please enter a valid Ticket Id
        </h5>

        Enter a Ticket Id:
        <input
          id="createName"
          class="form-control"
          type="text"
          placeholder="Ex: 3"
          ng-model="ticket_id"
        />
        <input
          id="querySubmit"
          type="submit"
          value="Query"
          class="btn btn-primary"
          ng-click="getTicket()"
        />
      </div>

      <table id="get_ticket" class="table" align="center">
        <tr>
          <th>ID</th>
          <th>Current Owner</th>
          <th>Check-out Status</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>{{get_ticket.ticketId}}</td>
          <td>{{get_ticket.currentOwner}}</td>
          <td>{{get_ticket.timeStamp}}</td>
          <td>{{get_ticket.eventId}}</td>
        </tr>
      </table>
      <br />
      <br />
      <hr style="height:1px ;border-width:0;color:gray;background-color:gray">
      <br />
      <div class="form-group">
        <h2>Create Event</h2>
        <h5 style="color: green; margin-bottom: 2%;" id="success_create">
          Success! Tx ID: {{create_tuna}}
        </h5>
        <br />
        Enter Even Name:
        <input
          class="form-control"
          type="text"
          placeholder="Ex: 11"
          ng-model="event.name"
        />
        Enter Issuer:
        <input
          class="form-control"
          type="text"
          placeholder="Ex: 0239L"
          ng-model="event.issuer"
        />
        Enter Price:
        <input
          id="createName"
          class="form-control"
          type="text"
          placeholder="Ex: 28.012"
          ng-model="event.price"
        />
        Enter total:
        <input
          id="createName"
          class="form-control"
          type="text"
          placeholder="Ex: 150.405"
          ng-model="event.total"
        />

        <input
          id="createSubmit"
          type="submit"
          value="Create"
          class="btn btn-primary"
          ng-click="recordEvent()"
        />
      </div>

     
    </div>
  </body>
  <!-- requiring the angular page -->
  <script type="text/javascript" src="app.js"></script>
 
</html>
